.image-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  padding: 20px;
  /* border: 1px solid #ddd; */
  /* border-radius: 8px; */
  /* background-color: #f9f9f9; */
  width: 100%;
  max-width: 600px;
  /* margin: auto; */
}

.image-input-label {
  width: 100%;
  text-align: center;
}

.image-input-title {
  font-size: 24px;
  /* margin-bottom: 10px; */
  color: #333;
}

.image-input-subtitle {
  font-size: 18px;
  /* margin-bottom: 10px; */
  color: #555;
  text-align: center;
}

.main-image-container {
  /* margin-bottom: 20px; */
}

.main-image-wrapper {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: auto;
}

.prop-main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-row-image {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 250px;
  margin: 5px auto;
}

.image-nav-button {
  padding: 8px 16px;
  background-color: var(--green);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.image-nav-button:hover {
  background-color: var(--dark-green);
}

.file-input {
  display: none;
}

.add-images-button {
  /* width: 200px; */
  padding: 10px 20px;
  background-color: var(--green);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* margin-top: 20px; */
  margin: auto;
  margin-top: 10px;
}

.add-images-button:hover {
  background-color: var(--dark-green);
}

